

<div class="navbar">
  <!-- Logo -->
  <a href="/" class="navbar-logo">
    <img src="images/logo.png" alt="logo">
  </a>

  <h1>Liquid Courage</h1>

  <!-- Right Navigation -->
  <div class="navbar-right hidden-xs hidden-sm">

    <a href="" class="navbar-create navbar-link"><%= link_to "Create a new cocktail", new_cocktail_path %></a>
  </div>




  <div class="cocktail-list">
    <% @cocktails.each do |cocktail| %>
    <p>
       <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </p>
    <% end %>
  </div>

