<div class="navbar">
  <!-- Logo -->
    <img src="liquid-curage-logo.png" class="navbar-logo">

  <h1>Liquid Courage</h1>

  <!-- Right Navigation -->
  <div class="navbar-right hidden-xs hidden-sm">
    <a href="" class="navbar-create navbar-link"><%= link_to "Create a new cocktail", new_cocktail_path %></a>
  </div>
</div>

  <div class="cocktail-list">
    <% @cocktails.each do |cocktail| %>
    <p>
       <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </p>
    <% end %>
  </div>

  <!--   <%= cl_image_tag("pkzjwhkemzb2x9xkjlir",
      width: 400, height: 300, crop: :fill) %>
 -->
