<h2>Create a new cocktail</h2>

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name, placeholder: "e.g. mojito", label:" please enter a name" %>
  <%#= f.text_field :name %>
  <%#= f.association :ingredient %>
  <%= f.button :submit %>
<% end %>

