  <h1>  <%= @cocktail.name %></h1>
  <p>  <%= @ingredients %> </p>

<% @cocktail.doses.each do |dose| %>
  <p>
     <%= dose.description %>
  </p>
<% end %>

<p> <%= link_to "Back", cocktails_path(@cocktail) %></p>
